/* Actors */
.actors {
    margin-top: 5px;
}

.actors .flicking-actors {
    margin-top: 22px;
}

.actors__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* actors cards */
.actors__card {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/******************************

    featured Actors 

******************************/

.featured-actor {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-actor__content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
}

.featured-actor__content .featured-actor__items {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
}

.featured-actor .featured-actor__nav--items {
    display: flex; 
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.featured-actor .nav__link {
    cursor: pointer;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 18px;
    /* margin-left: 32.5%; */
}

.nav__link.active {
   opacity: 1;
   display: flex;
   flex-direction: column;
   width: fit-content; 
}

.nav__link.active::after {
    content: " ";
    height: 3px;
    width: 100%;
    background-color: #F3353E;
    margin-top: 6px;
}


/* featured actor cards */
.featured-actor__card{
    margin-top: 22px;
    display: flex;
    justify-content: space-between; 
    width: 100%;   
}

.featured-actor__card .card2 {
    flex-basis: 28%;
}

.featured-actor__card .card2 .image {
    border-radius: 0;
}



/* featured actors texts */
.featured-actor__texts {
    color: #FFFFFF;
    flex-basis: 30%;
    margin-right: 40px;
    margin-bottom: 22px;
}

.featured-actor__texts .title span{
    display: block;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.featured-actor__texts .texts {
    font-weight: 400;
    font-size: 16px;
    color: #8E96A2;
    margin-top: 0;
}

.featured-actor__texts .link {
    margin-top: 30px;
    display: block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding-bottom: 20px;
} 

/* MEDIA QUERY */

@media only screen and (min-width: 1280px) {
    .actors {
        margin-top: 90px;
    }
}  

/* featured actors  */

@media only screen and (min-width: 768px) {
    .featured-actor__card .card2 {
        flex-basis: 30%;
    }

}

@media only screen and (min-width: 1280px) {
    .featured-actor__content {
        flex-direction: row;
    }

    .featured-actor__texts {
        padding-top: 58px;
    }
    
    .featured-actor__card .card2 {
        flex-basis: 24%;
    }
}

