.card2 {
    flex-basis: 45%;
    /* border-radius: 8px; */
    display: flex;
    margin-right: 4.5%;
}

.card2 .image {
    width: 100%;
    border-radius: 8px;
}

/* MEDIA QUERY */

@media only screen and (min-width: 768px) {
    .card2 {
        flex-basis: 30%;
        margin-right: 2.5%;
    }                                        
}

@media only screen and (min-width: 1024px) {
    .card2 {
        flex-basis: 22%;
    }
}

@media only screen and (min-width: 1280px) {
    .card2 {
        flex-basis: 18%;
    }
}


