.movies {
    margin-top: 15px;
}

.movies .movies-contents {
    min-height: 177.61px; 
}


.movies .movies__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.movies .header__subtitle {
    letter-spacing: 7px;
}

/* card */

.movies .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Categories */

.categories {
    margin-top: 10px;
}


.categories .categories__nav--items {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
}

.categories .nav__links {
    display: flex;
    list-style: none;
}

.categories .nav__link:not(:last-of-type) {
    margin-right: 2rem;
}

.categories .nav__link {
    cursor: pointer;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 14px
}

.categories .loader {
    text-align: center;
    margin-top: 30px;
    
}

.nav__link.active {
   opacity: 1;
   display: flex;
   flex-direction: column;
   width: fit-content; 
}

.nav__link.active::after {
    content: " ";
    height: 3px;
    width: 100%;
    background-color: #F3353E;
    margin-top: 6px;
}


/* category cards */
.card2__category {
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
}


/*MEDIA QUERY*/
@media only screen and (min-width: 768px) {
    .movies .movies-contents {
        min-height: 285.63px; 
    }
}

@media only screen and (min-width: 1024px) {
    .movies .movies-contents  {
        min-height: 253.56px; 
    }
}

    
@media only screen and (min-width: 1280px) {
    .movies {
        margin-top: 90px;
    } 

    .movies .movies-contents  {
        min-height: 400.39px; 
    }

    /* Categories */
    .categories {
        margin-top: 80px;
    }

    .categories .nav__link {
        font-size: 18px;
    }

}